@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumboNaslov">
    <h1>Evidenca dijakov in mentorjev</h1>
    <p class="lead">V tej nalogi je predstavljena evidenca dijakov in mentorjev z možnostjo dodajanja, brisanja in posodabljanja podatkov</p>
</div>

<div class="row">
    <div class="col-md-4 stilVrste">
        <h2>Dijaki</h2>
        <p>
            Pod zavihkom dijaki imamo pregled nad vsemi dijaki v bazi z možnostjo brisanja, editiranja, posodabljanja in dodajanja.
        </p>
    </div>
    <div class="col-md-4 stilVrste">
        <h2>Mentor</h2>
        <p>
            Pod zavihkom mentor imamo pregled nad vsemi mentorji v bazi z možnostjo brisanja, editiranja, posodabljanja in dodajanja.
        </p>
    </div>
    <div class="col-md-4 stilVrste">
        <h2>Mentor - Json Notacija</h2>
        <p>
            Pod zavihkom mentor-API imamo pogled v mentorje v JSON obliki.
        </p>
    </div>
</div>